<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="red@,yellow@,white@,green@,blue@" />
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>LOGBACK %colorize([%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n)</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <Logger name="nl.belastingdienst" level="TRACE"/>
</configuration>
