<form>
  <section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div>
      <div class="input-group">
        <div class="form-outline">
          <label class="form-label" for="form1">Search</label>
          <input (keydown)="handleClick()" type="search" id="form1" class="m-2" [placeholder]="placeholder"
                 [(ngModel)]="searchterm">
        </div>
        <button (click)="handleClick()" type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </section>
</form>
