<app-search placeholder="What beer?" (search)="handleSearch($event)"></app-search>

<div class="row p-2">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor="let b of beers$ | async"
          [class.expensive]="b.price >= 2" [class.cheap]="b.price < 2"
          [routerLink]="['/beers', b.id]">
        <div class="row">
          <div class="col-1">
            <button class="btn btn-warning p-1 m-1" (click)="delete($event, b.id)">
              <i class="fa-sharp fa-solid fa-trash"></i>
            </button>
          </div>
          <div class="col-8">{{b | prettyBeer}}</div>
          <div class="col-3 text-end">{{b.price | currency }}</div>
        </div>
      </li>
    </ul>
    <div *ngIf="message!==''">Foutmelding: {{message}}</div>
  </div>
</div>

<app-beer-details></app-beer-details>
