<h3>Cars:</h3>
<!--<ul>
  <li *ngFor="let car of cars$ | async" [class.expensive]="car.price > 15000">
    {{car.make}} {{car.model}}
  </li>
</ul>-->

<ul>
  <li *ngFor="let car of cars" [class.expensive]="car.price > 15000">
    <button class="btn btn-danger p-1 m-1" (click)="delete(car.id)">
      <i class="fa-solid fa-trash"></i>
    </button>
    {{car | prettyCarrify}} = {{car.price | currency}}
  </li>
</ul>

<div *ngIf="message!==''">Foutmelding: {{message}}</div>
<form (ngSubmit)="save(carForm)" #carForm="ngForm" class="card p-2 m-2" style="width: 18rem;" novalidate>
  <div class="card-body">
    <label [for]="createMake()">Make <span *ngIf="make.errors?.['required']">*</span></label>
    <input type="text" #make="ngModel" required minlength="3"  id="make" name="make" [(ngModel)]="carToAdd.make"
           class="form-control mb-2">

    <label for="model">model <span *ngIf="model.errors?.['required']">*</span></label>
    <input type="text" #model="ngModel" required id="model" name="model" [(ngModel)]="carToAdd.model" class="form-control  mb-2">

    <label for="price">price <span *ngIf="price.errors?.['required']!==undefined">*</span></label>
    <input type="number" #price="ngModel" id="price" name="price" [(ngModel)]="carToAdd.price" class="form-control  mb-2">

    <button [disabled]="!carForm.valid" class="btn btn-success">Add car</button>
  </div>
</form>
